{% extends "base.html" %}
{% block title %}Редактировать товар{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Редактировать товар</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.short_description.label(class="form-control-label") }}
            {{ form.short_description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.long_description.label(class="form-control-label") }}
            {{ form.long_description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label(class="form-control-label") }}
            {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.image.label(class="form-control-label") }}
            {{ form.image(class="form-control-file") }}
            {% if product.image_url %}
                <div>
                    <img src="{{ url_for('uploaded_file', filename=product.image_url) }}" alt="Current Image" style="max-width: 200px; margin-top: 10px;">
                    <p>Текущий файл: {{ product.image_url }}</p>
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
